// Reduce side margins for Just the Docs theme
.side-bar {
    width: 232px;
}

.main {
    margin-left: 232px;
}

.main-content-wrap {
    max-width: 1200px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}