// Align sidebar to the left with no space
.main {
    max-width: 100%;
}

.side-bar {
    padding-left: 0;
    margin-left: 0;
    min-height: 100vh;
}

.site-nav {
    padding-left: 0.5rem;
}

.site-title {
    padding-left: 0.5rem;
}

@media (min-width: 66.5rem) {
    .side-bar {
        width: 15.625rem !important;
        min-width: 0 !important;
        min-height: 100vh;
    }

    .main {
        margin-left: 15.625rem !important;
    }
}